.faqs__cards {
  overflow-x: scroll;
  /* width: 100%; */
  /* Hide scrollbar - cross-browser */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  padding: 4px;
  scroll-behavior: smooth;
}

.faqs__cards div {
  width: 400px;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.card__heading {
  text-align: center;
}

.faqs {
  border-bottom: 1px solid #ffffff40;
  margin-bottom: 150px;
}
