.tierlist {
  /* height: 700px; */
  display: flex;
  justify-content: space-between;
  padding: 64px 42px;
  border: 1px solid #ffffff40;
  border-left: none;
  border-right: none;
  color: #ffffff;
  gap: 20px;
}

.box {
  background-color: #1a1a1a;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  box-shadow: 0px 4px 4px #036de5;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.box:hover {
  box-shadow: 0px 12px 12px #036de5;
  transform: translateY(-5px);
}

.box__heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.box__heading img {
  height: 32px;
  aspect-ratio: 1;
}

.box__heading h1 {
  font-size: 64px;
  margin: 0;
}

.box__body {
  text-align: center;
  font-weight: 600;
}
